asgiref==3.4.1
attrs==21.2.0
beautifulsoup4==4.9.3
certifi==2021.5.30
chardet==4.0.0
charset-normalizer==2.0.5
click==8.0.1
colorama==0.4.4
distlib==0.3.4
Django==4.0.1
django-ckeditor==6.2.0
django-js-asset==1.2.2
filelock==3.4.2
flasgger==0.9.5
Flask==1.1.2
Flask-JWT-Extended==4.3.0
idna==3.2
itsdangerous==2.0.1
Jinja2==3.0.1
jsonschema==4.2.1
MarkupSafe==2.0.1
mistune==2.0.0
ntplib==0.4.0
pbr==5.8.0
Pillow==9.0.0
platformdirs==2.4.1
PyJWT==2.1.0
pyrsistent==0.18.0
python-dotenv==0.19.0
pytz==2021.1
PyYAML==6.0
requests==2.26.0
six==1.16.0
soupsieve==2.2.1
sqlparse==0.4.2
stevedore==3.5.0
tzdata==2021.5
urllib3==1.26.6
virtualenv==20.13.0
virtualenv-clone==0.5.7
virtualenvwrapper==4.8.4
virtualenvwrapper-win==1.2.7
Werkzeug==2.0.1
wikipedia==1.4.0
